.header {
    background-color: #4CAF50;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: #4CAF50;
    color: white;
    width: 100%;
    padding: 10px;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    font-size: 1.8em;
}

.header-content h1 {
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}


.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
    width: 98.41%;
}

/* Form Table Styling */
.form-table {
    width: 100%;
    border-width: 1px;
    border-color: #666;
    border-style: solid;
    padding: 10px;
    margin-top: 20px;
}

.name {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Button and Dropdown Styling */
button, .dropdown-content a {
    background-color: #0066cc;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* MultiView Container */
table.form-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
}

/* Header */
h3 {
    color: #006400; /* Dark Green */
    font-size: 24px;
    margin-bottom: 20px;
}

/* Labels */
.name {
    color: #555;
    font-size: 14px;
    font-weight: bold;
}

/*For Grid Stuff*/
.rounded-grid {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

    .rounded-grid th, .rounded-grid td {
        border: 1px solid #d3d3d3;
        padding: 10px;
        text-align: left;
    }

    /* Header */
    .rounded-grid th {
        background-color: #5D7B9D;
        color: white;
        font-weight: bold;
        text-align: center;
    }

    /* Row Hover */
    .rounded-grid tr:hover {
        background-color: #e2e2e2;
    }

    /* Alternating Row Styles */
    .rounded-grid tr:nth-child(odd) {
        background-color: #f7f6f3;
    }

    /* Selected Row */
    .rounded-grid .selected {
        background-color: #e2ded6;
    }

    /* Pager Styles */
    .rounded-grid .pager {
        background-color: #284775;
        color: white;
        padding: 5px;
        text-align: center;
    }

    /* Footer */
    .rounded-grid tfoot {
        background-color: #5D7B9D;
        color: white;
        font-weight: bold;
        text-align: center;
    }

    /* Edit Row */
    .rounded-grid .edit-row {
        background-color: #999999;
    }

    /* Command Field */
    .rounded-grid .command-field {
        text-align: center;
    }
